body{
  background-color: white;
  padding-left: 5.5rem;
}

.top{
  margin-top: 4rem;
  display: inline-flex;
  text-align: center;
}

.top p{
  font-size: 4.2rem;
  font-family: 'Ubuntu', 'sans-serif';
  margin-left: 8rem;
  color: rgba(249,105,14,1);
  background: linear-gradient(
    to right,
    rgba(249,105,14,1)0%,
    rgba(194,194,194)100%
    );
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.top input[type="text"]{
  margin-left: 15rem;
  z-index: 0.5;
  background-color: #B6E8F4;
  width: 40rem;
  height: 2.75rem;
}

select{
  width: 6rem;
  margin: 1rem 2rem;
}

.top input[type="submit"]{
  background-color: #6c757d;
  height: 3rem;
  width: 5rem;
  margin: 1rem 2rem;
}

.card{
  margin: 1.5rem;
  min-height: 360px;
  width: 250px;
  font-family: 'Montserrat','sans-serif';
  background-color: #DFDFDF !important;
  text-align: center;
}

.card-header{
  width: 200px;
  height: 300px;
  margin: 1rem;
  display: flex;
}

.card-header img{
  width: 200px;
  height: 300px;

}

.card-body{
  margin-bottom: 2rem;
}
.b1{
  background-color: #6610f2;
}

/* Movie details */

.main{
  padding: 3rem;
  display: flex;
}

.main img {
  height: 400px;
  width: 350px;
  border-style: ridge;
  margin-bottom: 50px;
}

.mname{
    margin-left: 2rem;
    font-size: 3rem;
    margin-bottom: 3px;
    text-align: center;
}

.box{
  margin-left: 3rem;
  box-shadow: -5px -7px 10px 5px #ccc;
  padding: 1rem;
  width: 450px;
  min-height: 400px;
  line-height: 2.4rem;
  flex: 1;
}

span{
  font-weight: bold;
}
